---
title: Welcome to Middleman
---

<div class="screen">
  <div class="carreta1">
    <div class="profile_pic">
     <img src="images/300038_10150280286625905_8288262_n (1).jpg" alt="">
    </div>
    <div class="skills">
      <p>Skills:</p>
        <div class="skill">
          <h4>sql:</h4>
          <div class="meter">
            <span style="width: 25%"></span>
          </div>
        </div>
     </div>
   
    

    <!-- <ul>
     <% 2.times do |num| %>
       <li>Count <%= num %></li>
     <% end %>
    </ul> -->
  </div>
  <div class="carreta2">
    <h1 class="name">Jonathan Garcia Gomez</h1>
    <h2 class="degre">Electronic Engineer</h2>
  </div>
</div>